@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

body {
    font-family: 'Open Sans', Verdana, sans-serif;
    background-color: #E5F2F8; 
    color: #023047;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    background-color: white;
    padding: 10px 0;
}

nav a {
    text-align: center;
    color: #023047; 
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 15px;
    display: inline-block;
}

nav a:hover {
    background-color: #023047; 
    color: #FFB703;
}

#hero-msg h1 {
    text-align: center;
    color: #023047;
    font-family: 'Montserrat', 'Arial Black', sans-serif;
}

#hero-msg h4 {
    text-align: center;
    color: #8ECAE6;
    font-family: 'Open Sans', Verdana, sans-serif;
}

.button-box {
    text-align: center;
}

.book, .join {
    background-color: #FFB703; 
    color: #023047; 
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
}

.book:hover, .join:hover {
    background-color: #023047;
    color: #FFB703; 
}

main section {
    text-align: center;
    margin: 20px 0;
}

#background {
    height: 725px;
    background-color: #E5F2F8;
}

.msg {
    background-color: #8ECAE6;
    padding: 20px;
    border-radius: 10px;
}

.msg h2 {
    color: #023047;
    font-family: 'Montserrat', 'Arial Black', sans-serif;
}

.msg p {
    color: #023047;
    font-family: 'Open Sans', Verdana, sans-serif;
}

footer {
    background-color: #023047;
    color: #8ECAE6; 
    padding: 20px;
    text-align: center;
}

footer a {
    color: #8ECAE6;
    text-decoration: none;
}

footer a:hover {
    color: #FFB703; 
}

.home-title {
    color: #FFB703;
    font-family: 'Montserrat', 'Arial Black', sans-serif;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
}

#hero-img {
    width: 100%;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}
