@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #333;
  max-width: 275px;
  font-family: 'Roboto', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-rows: auto auto auto 1fr auto;
  gap: 10px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
}

.image {
  width: 100%;
}

.date {
  color: #6f84a7;
  margin: 10px 0 0;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.text {
  font-size: 16px;
  color: #666;
  margin: 0 20px 20px;
}

.bottom{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  background-color: #3f5b8b;
  color: white;
  line-height: 0px;
  font-family: 'Times New Roman', Times, serif;
}


sup {
    vertical-align: super;
    font-size: 10px;
  }