nav, footer {
    background-color: steelblue;
    color: white;
    /* To define specific sides, you can add 4 different numbers that pertain to the 1 top 2 right 3 bottom 4 left */
    padding: 10px;
}
footer p {
    font-size: 20px;
    margin: 20px auto;
}
a:hover {
    background-color: white;
    color: steelblue;
}